.login,
.sign-up {
  align-self: center;
  padding-top: 2em;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.form-field div {
  width: 50%;
}

input {
  width: 50%;
  padding: 4px;
}

.signup-login {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-top: 0.3em;
  width: fit-content;
  color: blue;
  scale: 1;
  transition-property: scale;
  transition-duration: 0.2s;
}

.signup-login:hover {
  scale: 1.18;
  transition-property: scale;
  transition-duration: 0.2s;
}

form button {
  align-self: center;
  width: fit-content;
  padding: 0px 15px 0px 15px;
  margin-top: 0.5em;
  height: 35px;
}
