.login,
.sign-up {
  padding-top: 2em;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input {
  width: 60%;
  padding: 4px;
}

.signup-login {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-top: 0.3em;
  width: fit-content;
  color: blue;
}

.signup-login:hover {
  color: darkblue;
  transform: scale(1.25, 1.25);
}

form button {
  width: fit-content;
  padding: 0px 15px 0px 15px;
  margin-top: 0.5em;
  height: 35px;
}
