:root {
  --default-gap: 0.4em;
  --default-bg-color: aliceblue;
}

.bottom-section {
  flex-grow: 1;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  padding: var(--default-gap);
  overflow: auto;
}

.weapon-window,
.armory-window,
.magic-window,
.training-window,
.recruitment-window,
.divisions-window,
.schedule-window {
  flex-grow: 1;
  min-width: 750px;
  background-color: seashell;
  border: 16px ridge;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.weapon-window {
  border-color: darkgoldenrod;
  transition-property: border-color;
  transition-duration: 0.5s;
}

.armory-window {
  border-color: gray;
  transition-property: border-color;
  transition-duration: 0.5s;
}

.magic-window {
  border-color: slateblue;
  transition-property: border-color;
  transition-duration: 0.5s;
}

.shop-nav {
  display: flex;
  overflow: auto;
}

.shop-nav button {
  flex-grow: 1;
  flex-basis: 0;
  background-color: beige;
  border: 4px outset burlywood;
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.75s;
}

.shop-nav .selected-sub-window {
  background-color: burlywood;
  transition-property: background-color;
  transition-duration: 0.75s;
}

.table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.shop-table,
th,
td {
  border: 2px solid silver;
  border-collapse: collapse;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

.shop-table tbody tr td:first-child {
  width: 50%;
}

.shop-table tbody tr td:not(:first-child) {
  width: 25%;
}

.training-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recruitment-window {
  flex-direction: row;
  border-color: lightgreen;
  transition-property: border-color;
  transition-duration: 0.5s;
}

.recruit-list {
  width: 70%;
  flex-direction: column;
  border: 1px solid black;
  overflow: auto;
}

.recruit-list-header {
  height: 34px;
  background-color: lightgray;
  font-weight: 700;
  border-bottom: 3px double black;
  align-items: center;
}

.recruit-list-header,
.recruit-list-row,
.recruit-list-selected {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.recruit-list-row,
.recruit-list-selected {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.recruit-list-header > div,
.recruit-list-row > div,
.recruit-list-selected > div {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
}

.recruit-list-selected {
  background-color: cornflowerblue;
  color: white;
}

.recruit-preview {
  width: 30%;
  border: 1px solid black;
  overflow: auto;
}

.recruit-preview .details {
  height: 85%;
}

.recruit-preview .det-name-class {
  height: 34px;
  font-size: 0.75em;
}

.recruit-preview .det-stats {
  font-size: 0.85em;
}

.buy-recruit {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisions-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-window {
  display: flex;
  justify-content: center;
  align-items: center;
}
