header {
  display: flex;
  border: 4px outset slategray;
  padding: 0.5em 1.5em 0.5em 1em;
}

header div {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header .header-greeting {
  justify-content: center;
}

header .header-buttons {
  justify-content: end;
}

header div button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-top: 3px;
  color: blue;
  justify-self: end;
}

header button:hover {
  transform: scale(1.18);
  transition-property: transform;
  transition-duration: 0.2s;
}
