:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: lightgray;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: blue;
  text-decoration: inherit;
}

a:hover {
  color: darkblue;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

button {
  background-color: aliceblue;
  border: 3px outset gray;
  border-radius: 3px;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition-property: border-color, background-color, color;
  transition-duration: 0.75s;
}

button:hover {
  border-color: blue;
  transition-property: border-color;
  transition-duration: 0.5s;
}

input {
  background-color: lavender;
  border: 2px inset gray;
}

input:hover:not(:focus) {
  border-width: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
}

input:focus {
  outline: 2px solid blue;
  outline-offset: -1px;
}
